* {
    box-sizing: border-box;
}

// Imposta la font-size a 10px, conversioni rem più facili
:root {
    font-size: 62.5%;
    // --mobile: 480px;
    // --tablet: 768px;
    // --desktop: 1024px;
}

html, body {
    height: 100%;
}


// Riporta a 16px il font.
body {
    margin: 0;
    font-family: "Barlow Condensed", sans-serif;
    padding: 0;
    font-size: 1.6rem;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

a {
    text-decoration: none;
}

